﻿#AskQuestion{
    width: 100%;
    height: 100%;
}

#AskQuestion span{
    float: left;
    width: 100%;
}

#title-wrapper{
    width: 100%;
    padding: 25px 0px;
    float: left;
}

#title-wrapper .title-textbox{
    width: 620px;
    height: 30px;
    float: left;
    padding-left: 20px;
}

#question-content-wrapper{
    width: 100%;
    padding: 25px 0px;
    float: left;
}

#question-content-wrapper .question-content-textbox{
    width: 660px;
    height: 300px;
    float: left;
}

#tag-wrapper{
    width: 100%;
    padding: 25px 0px;
    float: left;
}

#tag-wrapper .tag-textbox{
    width: 660px;
    height: 30px;
    float: left;
}

#submit-wrapper{
    width: 100%;
    padding: 25px 0px;
}

#submit-wrapper .submit-button{
    cursor: pointer;
    display: inline-block;
    color: #fff;
    line-height: 1;
    padding: .6em .8em;
    background: #009afd;
    -webkit-transition: background 0.15s ease, color 0.15s ease;
    -moz-transition: background 0.15s ease, color 0.15s ease;
    -ms-transition: background 0.15s ease, color 0.15s ease;
    -o-transition: background 0.15s ease, color 0.15s ease;
    border: 1px solid #1777b7;
    /* box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset,0 1px 1px rgba(100,100,100,0.3); */
    /* border-radius: 3px; */
}