﻿body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

a{
    text-decoration: none;
    color: #0c65a5;
}

a:visited{
    color:  #0c65a5
}

#topbar{
    width: 100%;
    height: 30px;
    background-color: #222222;
}

#topbar-wrapper{
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

#content{
    width: 100%;

}

#header-wrapper{
    height: 50px;
    width: 960px;
    padding: 15px 0;
    margin: 0 auto;
    border-bottom: 1px solid #e0e0e0;
    
}

#header-wrapper #header-logo{
    width: 200px;
    height: 50px;
    float: left;
}

#header-wrapper #nav-wrapper{
    float: right;
    list-style: none;
}

#nav-wrapper li{
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 5px;
}

#nav-wrapper li a{
    padding: 4px 10px 5px;
    font-size: 14px;
    line-height: 1.3;
    background: #858d93;
    color: #fff;
}

#nav-wrapper li:hover a{
    background: #f90;
    color: #fff;
}

#content-wrapper{
    width: 960px;
    margin: 0 auto;
}

#topbarInboxButton{
    float: left;
}

#topbarAchievementButton{
    float: left;
}

#topbarInboxList{
    width: 400px;
    height: 400px;
    display: none;
}

#topbarAchievementList{
    width: 400px;
    height: 400px;
    display: none;
}

#topbarSearchBar{
    float: right;
    width: 200px;
    height: 22px;
}

#topbarProfileButton{
    width: 110px;
    height: 30px;
    padding: 0 5px;
    margin-right: 10px;
    float: right;
    font-size: 13px;
    color: #fff;
}

#topbarProfileButton:hover{
    background-color: #444;
}

.profileAvatar{
    width: 20px;
    height: 20px;
    position: absolute;
}

.reputation{
    position: relative;
    top: 10px;
    float: right;
    margin-right: 5px;
    color: #e0e0e0;
}

.badges{
    position: relative;
    top: 10px;
    float: right;
    color: #e0e0e0;
}

