﻿#QuestionDetail .title-wrapper{
    width: 100%;
    padding-left: 10px;    
    float: left;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
}

#QuestionDetail .content-container{
    width: 100%;    
    float: left;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 0;
}

#QuestionDetail .content-container .vote-wrapper{
    width: 50px;
    float: left;
}

#QuestionDetail .content-container .vote-wrapper .vote-button{
    width: 40px;
    margin: 0 auto;
}

#QuestionDetail .content-container .content-wrapper{
    width: 890px;
    padding-left: 20px;
    float: left;
    min-height: 200px;
}

.content-wrapper .tag-wrapper{
    height: 50px;
    width: 100%;

}

.tag-wrapper .tag{
    color: #3e6d8e;
    font-size: 12px;
    white-space: nowrap;
    background: #e4edf4;
    border: 1px solid #e4edf4;
    display: inline-block;
    margin: 2px 2px 2px 0;
    padding: 4px;
}

.author-wrapper{
    width: 165px;
    height: 40px;
    float: right;
    background: #e0eaf1;
    padding: 5px;
}

.author-wrapper .author{
    width: 100%;
    float: left;
}

.author-wrapper .date{
    width: 100%;
    float: left;
    font-size: 10px;
}

#youranswer-container{
    width: 100%;    
    float: left;
    border-bottom: 1px solid #e0e0e0;
}

#youranswer-container #youranswer-content-wrapper{
    width: 660px;
    height: 300px;
    float: left;
}

#youranswer-container #youranswer-content-wrapper .youranswer-content-textbox{
    width: 660px;
    height: 300px;
    float: left;
}

#submit-wrapper{
    width: 100%;
    padding: 25px 0px;
    float: left;
}

#submit-wrapper .submit-button{
    cursor: pointer;
    display: inline-block;
    color: #fff;
    line-height: 1;
    padding: .6em .8em;
    background: #009afd;
    -webkit-transition: background 0.15s ease, color 0.15s ease;
    -moz-transition: background 0.15s ease, color 0.15s ease;
    -ms-transition: background 0.15s ease, color 0.15s ease;
    -o-transition: background 0.15s ease, color 0.15s ease;
    border: 1px solid #1777b7;
    /* box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset,0 1px 1px rgba(100,100,100,0.3); */
    /* border-radius: 3px; */
}

.divider{
    width: 100%;
    padding: 30px 10px;
    float: left;
    border-bottom: 1px solid #e0e0e0;
}