﻿#questionList{
    padding: 0;
}

.post-listitem{
    width: 100%;
    height: 50px;
    padding: 15px 0px;
    border-bottom: 1px solid #e0e0e0
}

.stats-container{
    width: 140px;
    height: 100%;
    float: left;
}

.details-container{
    width: 820px;
    height: 100%;
    /*float: left;*/
}

.post-listitem .title{
    float: left;
    padding-left: 20px;
    font-weight: normal;
}

.post-listitem .postedby{
    float: right;
}

.post-listitem .stat-wrapper{
    width: 50px;
    float: left;
    padding: 10px;
}

.stat-wrapper .stat-value{
    text-align: center;
    display: block;
}

.stat-wrapper .stat-title{
    display: block;
    text-align: center;
    font-size: 12px;
}

.answered{
    background-color: #75845c;
    color: #fff;
}