﻿.tag-wrapper{
    height: 50px;
    width: 100%;

}

.tag-wrapper .tag{
    color: #3e6d8e;
    font-size: 12px;
    white-space: nowrap;
    background: #e4edf4;
    border: 1px solid #e4edf4;
    display: inline-block;
    margin: 2px 2px 2px 0;
    padding: 4px;
}